html
head 
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
	link(rel="stylesheet" href="views/main.css" type="text/css")
body
	h2.bingo The posts of #{locals.user.username}
	each post in postlist
		ul.domingo
		a.dominga(href='/users/'+ locals.user.username + '/posts/'+ post.id) #{post.title } 
		//when using a variable within a html element, use the hashtag thing.
		p=post.body
		
		//important to specify the correct array key here. In this case it's username. 

	a.goback(href='/dashboard') Go back to dashboard
