html
head 
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
	link(rel="stylesheet" href="views/main.css" type="text/css")
body 
h3.bingo Create a new post!
form(method ="post", action ="/post").bingo
	p Title
	input(type="text",name="title")
	p 
	textarea(name="body", cols="40", rows="5",placeholder="type your message here...")
	p=error
	input(type="submit")

a.goback(href='/dashboard') Go back to dashboard