html
head 
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
body
form(method ="post", action ="/users")
	p Username
	input(type="text",name="username")
	p3=matching
	p Email
	input(type="text",name="email")
	p Password
	input(type="password",name="password")
	p
	input(type="submit")