html
head 
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
	link(rel="stylesheet" href="views/main.css" type="text/css")
body
	#regmain
		h2 BLOGITY REGISTRATION INITIATION
		p ONE OF US. ONE OF US. ONE OF US.
		p Join our sacred covenant. 
	#regbox
		form(method ="post", action ="/users")
			p Username
			input(type="text",name="username")
			p3=matching
			p Email
			input(type="text",name="email")
			p Telephone 
			input(type="number",name="telephone")
			p (we need this to verify your details)
			br
			p Password
			input(type="password",name="password")
			p
			input(type="submit")