html
head 
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
body
	h Profile of 
		p=userdata.username

	h2 Name
		li=userdata.username
	h2 Email
		li=userdata.email        
		//important to specify the correct array key here. In this case it's username. 
	
	
<ul>
<li>
a(href='/users/'+ userdata.username + '/posts') View the posts of #{userdata.username} 
<li>
a(href='/dashboard') Go back to dashboard
