html
head 
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
body
	h Users!
	//iterate through each user in the array. User is placeholder value here, not important, only important thing is defining the correct object passed into jade i.e userlist. 	

each user in userlist
	ul
	a(href='/users/'+ user.username) #{user.username} 
	//when using a variable within a html element, use the hashtag thing. 
	
	//important to specify the correct array key here. In this case it's username. 


<ul>
<li>
a(href='/dashboard') Go back to dashboard
